.weather-item {
    background: #DAF7A6;
    border-radius: 5px;
    margin-bottom: 10px;
    >p  {
        font-weight: bold;
        font-size: 18px;
        &:first-child {
            min-width: 120px;
            font-weight: normal;
            font-size: 19px;
            color: #36354D;

        }
    }
    &:first-child {
        justify-content: space-around;
        background: #36354D;
        border-radius: 0;
        margin-bottom: 10px;
        color: white;
        >p {
            font-weight: normal;
            font-size: 16px;
            color: white;
            &:nth-child(4) {
                min-width: 30px;
            }
        }
    }
    display: flex;
    justify-content: space-around;
    min-height: 70px;
    > img {
        object-fit: contain;
    }
}